.cards__del-button {
  width: 18px;
  height: 19px;
  background: url(../../../images/button-trash.svg);
  background-size: 100%;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
