.cards {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  row-gap: 20px;
  column-gap: 17px;
  padding-top: 50px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .cards {
    padding: 36px 19px 0;
  }
}

@media screen and (max-width: 580px) {
  .cards {
    grid-template-columns: 282px;
  }
}
