.popup__error {
  margin-top: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #ff0000;
  opacity: 0;
  display: block;
  min-height: 24px;
  /* position: absolute;
  z-index: 1;
  top: 100%;
  left: 0; */
}
